---
import SkeletonLoader from '../common/SkeletonLoader.astro';
---

<div class="brand-card relative flex items-center mt-[-2rem]">
  <div class="brand-card-bg bg-gray-100"></div>
  
  <div class="container mx-auto px-4 py-8 relative">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <!-- Info Brand Skeleton -->
      <div class="md:w-1/2 order-2 md:order-1 flex items-center justify-center">
        <div class="brand-logo-container relative">
          <div class="flex flex-col items-center z-10 relative">
            <SkeletonLoader width="180px" height="120px" rounded={true} />
            <SkeletonLoader width="120px" height="40px" className="mt-6 rounded-full" />
          </div>
        </div>
      </div>
      
      <!-- Product Image Skeleton -->
      <div class="md:w-1/2 order-1 md:order-2 mb-6 md:mb-0 flex items-center justify-center product-preview-container">
        <SkeletonLoader width="280px" height="280px" className="product-preview-image" />
      </div>
    </div>
  </div>
</div>
