---
// src/components/pages/RecipesPage.astro
import { t } from '../../i18n/i18n';
import type { Locale } from '../../i18n/i18n';
import { getLocale } from '../../i18n/i18n';
import './styles.css';
import RecipeCard from '../../components/recipes/RecipeCard.astro';
import LazyImage from '../../components/common/LazyImage.astro';

const currentLang = getLocale();
const recipes = t('items', { namespace: 'recipes', locale: currentLang });
---
<div id="hero" class="w-full aspect-[4/3] md:h-[32rem] bg-cover bg-center" style="background-image: url('https://snack.yummiespromociones.com/taqueritos/banner_recetas.webp'); background-size: cover; background-position: center;" transition:animate="fade"></div>
<div class="bg-white py-12">

  <div class="container mx-auto px-4 mt-12">

    {recipes.length === 0 ? (
      <p class="text-center text-gray-500">{t('page.no_recipes', { namespace: 'recipes' })}</p>
    ) : (
      <div class="md:w-[80%] w-full mx-auto grid grid-cols-2 md:grid-cols-3 md:gap-32 gap-6" transition:animate="slide">
        {recipes.map((recipe: any) => (
          <RecipeCard
            image={recipe.image || '/images/recipes/placeholder.jpg'}
            title={recipe.title}
            time={`${recipe.preparation_time}MIN`}
            id={recipe.id}
            textColor="text-gray-800"
            iconColor="text-gray-800"
          />
        ))}
      </div>
    )}
  </div>
</div>

<script>
  // This script runs only on the client side
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('img');
    images.forEach(img => {
      img.addEventListener('error', function() {
        this.src = '/images/recipes/placeholder.jpg';
      });
    });
  });
</script>
