<!-- src/views/Home/index.astro -->
---
import { t, type Locale } from '../../i18n/i18n';
import Carousel from '../../components/common/Carousel/index.astro';
import './styles.css';
import './scripts.js';

// Precargar namespaces para mejor performance
t('common', { locale: Astro.props.currentLang });
t('recipe', { locale: Astro.props.currentLang });
t('news', { locale: Astro.props.currentLang });
t('products', { locale: Astro.props.currentLang });

export interface Props {
  currentLang: Locale;
  loading?: boolean;
}

const { currentLang, loading = false } = Astro.props;
const sliderAssets = t('assets.slider', { namespace: 'common', locale: currentLang }) || [];
console.log('Slider Assets:', sliderAssets);
const slides = Array.isArray(sliderAssets) 
  ? sliderAssets
    .filter(asset => asset && typeof asset === 'object' && asset.desktop && asset.mobile)
    .map(asset => ({
      desktop: asset.desktop,
      mobile: asset.mobile,
      alt: asset.alt || 'Taqueritos',
      title: asset.title || '',
      subtitle: asset.description || '',
      link: asset.url || asset.link || ''
    }))
  : [];

if (!slides.length) {
  console.error('No valid slides found in:', sliderAssets);
}



---

  <main class="w-full flex flex-col items-center justify-center">
    <!-- Slider Section -->
    <div class="w-full flex justify-center">
      <Carousel slides={slides} />
    </div>
    
    <!-- Spotify Section -->
    <section id="spotify" class="w-full py-12 flex flex-col items-center justify-center">
      <div class="flex flex-wrap items-center justify-center">
        <div class="flex-1 min-w-[250px] flex flex-col items-center justify-center"></div>
        <div class="flex-1 min-w-[250px] flex flex-col items-center justify-center"></div>
      </div>
      
      <div class="flex flex-wrap items-center justify-center">
        <div class="flex-1 min-w-[250px] flex flex-col items-center justify-center">
          <iframe loading="lazy" src="https://open.spotify.com/embed/show/74U81Bi7EbCWN7AOtVvTaU?si=dd28c5c6af7f4258" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://open.spotify.com/embed/show/74U81Bi7EbCWN7AOtVvTaU?si=dd28c5c6af7f4258" data-ll-status="loaded" class="entered lazyloaded"></iframe>
        </div>
        <div class="flex-1 min-w-[250px] flex flex-col items-center justify-center">
          <iframe loading="lazy" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1ol88nHjokvzBvWgCkBDi9?utm_source=generator" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://open.spotify.com/embed/playlist/1ol88nHjokvzBvWgCkBDi9?utm_source=generator" data-ll-status="loaded" class="entered lazyloaded"></iframe>
        </div>
        <div class="flex-1 min-w-[250px] flex flex-col items-center justify-center">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3EkdIhlaXStL5aYJPn0lmY?utm_source=generator" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://open.spotify.com/embed/playlist/3EkdIhlaXStL5aYJPn0lmY?utm_source=generator" data-ll-status="loaded" class="entered lazyloaded"></iframe>
        </div>
        <div class="flex-1 min-w-[250px] flex flex-col items-center justify-center">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0LkNti3jTDqdFODqfI6F3j?utm_source=generator" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://open.spotify.com/embed/playlist/0LkNti3jTDqdFODqfI6F3j?utm_source=generator" data-ll-status="loaded" class="entered lazyloaded"></iframe>
        </div>
      </div>
    </section>

    
  </main>
