#spotify {
    background: #8A2B71;
    background: linear-gradient(90deg, rgba(138, 43, 113, 1) 0%, rgba(138, 43, 113, 1) 50%, rgba(100, 28, 81, 1) 50%, rgba(100, 28, 81, 1) 100%);
}

/* Delivery Section */
#delivery {
  background: #4182DF;
  background: linear-gradient(90deg,rgba(65, 130, 223, 1) 1%, rgba(65, 130, 223, 1) 50%, rgba(28, 108, 223, 1) 50%, rgba(28, 108, 223, 1) 100%);

}
