#recipes{
  background: #FDE820;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.logo-brand{
  cursor: pointer;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.logo-brand img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo-brand {
    width: 80px;
    height: 80px;
  }
}